#footer{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p{
        font-weight: bolder;
        text-align: left;
    }   
}
p{
    text-align: center;
}

#logo{
    height: 130px;
}

